<!DOCTYPE html>
<html lang="en">
<head>
    {head_boilerplate}
    <title>webpixel</title>
</head>
<body>
    <header>
        <nav>
            <a href="./">The WebPixel project</a>
        </nav>

    </header>
    <main>
        <h1>
            About the project
        </h1>

        <article>
            <h2>Q: What is this exactly?</h2>
            <p>
                Lorem ipsum dolor sit amet
            </p>
        </article>

    </main>
    <footer>

    </footer>
</body>
</html>